
body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.collage {
width: 85vw;
margin: 0 auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

img {
    margin: 5px;
    width: 24%;
}
